.profile-form {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile-logo {
  height: 10vmin;
  pointer-events: none;
}
.profile-container {
  padding: 20px;
}
.ant-form-item-label label {
  text-transform: capitalize;
}
